<app-nav></app-nav>
<div class = "container">
    <div class="row">
      <div class ="col"></div>  
      <div class="col-6">
        <div class="main-login main-center">
              <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <fieldset>
                  <legend>Add Service Provider :</legend>
                <br>
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider._id">
                <div class="form-group">
                  <label for="fname" class="cols-sm-2 control-label">First Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.fname"  required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="cols-sm-2 control-label">User Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="username" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.username"  required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="cols-sm-2 control-label">Password</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                      <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.password"  required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" name="email" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.email" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.telephone"  >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="address" class="cols-sm-2 control-label">Address</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.address"  >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="type" class="cols-sm-2 control-label">Type</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <select type="text" class="form-control" name="type" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.type"  >
                        <option value="Transport">Transport</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Resort">Resort</option>
                        <option value="Park">Park</option>
                        <option value="Playground">Playground</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="discription" class="cols-sm-2 control-label">Discription</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <textarea class="form-control" name="discription" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.discription"  ></textarea>
                    </div>
                  </div>
                </div>  
                <flash-messages></flash-messages>
                <div class="form-group ">
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!userForm.valid">Add Service Provider</button>

                    <button class="btn btn-primary right" type="button" (click)="resetForm(userForm)">Reset</button>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
            <div class="col"></div>
        </div>
      </div>
