<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <h1 style="color:beige">V Tour</h1>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span class="bot-line"></span>Travel Agents</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a [routerLink]="['/addnewtravelagent']">Add New Agent</a>
                            </li>
                            <li>
                                <a [routerLink]="['/viewtravelagents']">View Agents</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fab fa-servicestack"></i>
                            <span class="bot-line"></span>Service Providers</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a [routerLink]="['/addnewserviceprovider']">Add New Service Provider</a>
                            </li>
                            <li>
                                <a [routerLink]="['/viewserviceproviders']">View Service Providers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-copy"></i>
                            <span class="bot-line"></span>Itineraries</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a href="" [routerLink]="['/itinerary']">Create New</a>
                            </li>
                            <li>
                                <a href="" [routerLink]="['/view-itinerary']">View Itineraries</a>
                            </li>
                            <li>
                                <a href="#l">View Completed</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-users"></i>
                            <span class="bot-line"></span>Clients</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a [routerLink]="['/addnewclient']">Add New Client</a>
                            </li>
                            <li>
                                <a [routerLink]="['/viewclients']">View Clients</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="bot-line"></span>Payments & Bookings</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a href="#">Make Payments</a>
                            </li>
                            <li>
                                <a href="#">Make Bookings</a>
                            </li>
                            <li>
                                <a href="#">View Payment Status</a>
                            </li>
                            <li>
                                <a href="#">View Booking Status</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="far fa-user"></i>
                            <span class="bot-line"></span>Profile</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a href="#">Account</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                            <li>
                                <!-- <a [routerLink]="['/']">Logout</a> -->
                                <a *ngIf="authService.loggedIn()" class="nav-link" href="" (click)="logoutUser()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c2 img-cir img-40">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="content">
                                <p>Your account has been blocked</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c3 img-cir img-40">
                                <i class="zmdi zmdi-file-text"></i>
                            </div>
                            <div class="content">
                                <p>You got a new file</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="header-button-item js-item-menu">
                    <i class="zmdi zmdi-settings"></i>
                    <div class="setting-dropdown js-dropdown">
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-globe"></i>Language</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-pin"></i>Location</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-email"></i>Email</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-notifications"></i>Notifications</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="../source/images/icon/avatar-01.jpg" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->