<div class="container">
    <h1>Add New User</h1>
    <form (submit)=onRegisterSubmit()>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" [(ngModel)]="fname" name="fname" class="form-control" id="fname" required>
      </div>
      <div class="form-group">
          <label for="fname">Last Name</label>
          <input type="text" [(ngModel)]="lname" name="lname" class="form-control" id="lname" required>
        </div>
      
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" required>
      </div>

      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required>
      </div>

      <div class="form-group">
          <label for="telephone">Telephone No</label>
          <input type="number" [(ngModel)]="telephone" name="telephone" class="form-control" id="telephone">
      </div>
        
      <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required>
     </div>

      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-success">Reset</button>

    </form>
</div>