<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <h2 style="color:white">V Tour</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="authService.loggedIn()" style="margin-left: 100px" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" nav navbar-nav">
      <li *ngIf="user.usertype=='travelagent'" style="margin-right: 5px" class="dropdown nav-item" dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="fas fa-copy"></i> Itenarary<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" [routerLink]="['/itinerary']">Create New Itenarary</a>
          <a class="dropdown-item" [routerLink]="['/view-itinerary']">View Itenararies</a>
        </div>
      </li>

      <li *ngIf="user.usertype=='travelagent'" style="margin-right: 5px" class="dropdown nav-item " dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="fas fa-user"></i> Travel Agent<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/addnewtravelagent']">Add New Agent</a>
          <a class="dropdown-item" [routerLink]="['/viewtravelagents']">View Agents</a>
        </div>
      </li>

      <li *ngIf="user.usertype=='travelagent'" style="margin-right: 5px" class="dropdown nav-item " dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="fab fa-servicestack"></i> Service Provider<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/addnewserviceprovider']">Add Service Provider</a>
          <a class="dropdown-item" [routerLink]="['/viewserviceproviders']">View Service Providers</a>
        </div>
      </li>

      <li *ngIf="user.usertype=='travelagent'" style="margin-right: 5px" class="dropdown nav-item " dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="fas fa-users"></i> Clients<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/addnewclient']">Add New Client</a>
          <a class="dropdown-item" [routerLink]="['/viewclients']">View Clients</a>
        </div>
      </li>

      <li style="margin-right: 5px" class="dropdown nav-item " dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="fas fa-dollar-sign"></i> Payments & Bookings<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/viewclientpayment']">View Payments</a>
          <a class="dropdown-item">Make Payment</a>
          <a class="dropdown-item" href="#">View Bookings</a>
          <a class="dropdown-item">Make Booking</a>
        </div>
      </li>

      <li style="margin-right: 5px" class="dropdown nav-item " dropdown>
        <a class="nav-link" dropdownToggle role="button"><i class="far fa-user"></i> Account<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a class=" dropdown-item" (click)="selectProfile()">Profile</a>
          <a class="dropdown-item">Settings</a>
          <a class="dropdown-item" href="" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  <div >
    <ul>
      <li  *ngIf="!authService.loggedIn()" class="nav navbar-nav">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li  *ngIf="authService.loggedIn()" class="nav navbar-nav">
        <a class="nav-link" href="" (click)="logoutUser()">Logout</a>
      </li>
    </ul>
  </div>

</nav>