nav{
  background-color: transparent;
}

ul li a{
  color: white;
  font-family: "Helvetica Neue";
  font-size:15px;
  font-weight: bold;
}

.dropdown-menu{
  background-color: #3f5efb;
}

.login,.logout{
  padding: 7px;
  border: 2px solid white;
  border-radius: 10px;
}

.navbar-text{
  padding-right: 0px;
}

