
<mat-card>
  <mat-card-content>
    <div class="container" style="height:100%; width:100%">
      <div class="row">
        <h1>Itinerary</h1>
        <hr>
      </div>
      <div class="row">
        <button  class="btn btn-primary" (click)="addEvent()" >Add event</button>
        
      </div>
      <br>
      <table class="table table-bordered">
        <thead>
          <th>Event name</th>
          <th>Event position</th>
          <th>Event venue</th>
        </thead>
        <tr *ngFor="let event of EventList">
          <td>{{event.name}}</td>
          <td>{{event.position}}</td>
          <td>{{event.venue}}</td>
          <!-- <td>{{Itinerary | json}}</td>
          <td>{{Itinerary | json}}</td> -->
          <!-- <td>{{event.name}}</td>
          <td>{{event.position}}</td>
          <td>{{event.venue}}</td> -->
          <td> <mat-icon (click)="editEvent(event.id)" >edit</mat-icon> </td>
          <td> <mat-icon (click)="deleteEvent(event.id)" >delete</mat-icon> </td>
        </tr>
      </table>
      <button class="btn btn-primary" (click)="addItinerary()">Update</button>
    </div>
  </mat-card-content>
</mat-card>