<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <div class="row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav-white></app-nav-white>
    </div>
  </div>
  <div class="row top_padding">
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 searchBar">
      <div class=" search form-group search_bar">
        <input type="text" class="form-control" name="search" placeholder="search Here..." [(ngModel)]="searchKeyword">
      </div>
    </div>
  </div>
  <div class="row content_row">
    <div class="col-md-3 spSlot" *ngFor="let client of clientService.client | ClientFilter:searchKeyword">
      <div class="row card_pic">
        <img class="Pro_Pic" id="pp1" alt="Thumbnail [200x250]" src="../../../../assets/source/images//Travel1.jpg" style="height:200px"> 
      </div>
      <div class="title_">
        <span class="white_bg">{{client.fname}}</span>
      </div>
      <div class="row card_info">
        <p class="des_item"><span style="padding-right: 5px">MAIL :</span> {{client.email}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">PHONE :</span>{{client.telephone}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">ADDRESS :</span>{{client.address}}, {{client.city}}, {{client.country}}, {{client.postalcode}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">DURATION :</span>{{client.datefrom}} - {{client.dateto}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">NO OF VISITORS :</span>{{client.noofvisitors}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">FOOD :</span>{{client.foodprefer}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">ACTIVITIES :</span>{{client.intactivities}}</p>
        <br>
        <p class="des_item"><span style="padding-right: 5px">AGE GROUP :</span>{{client.agegroup}}</p>

      </div>
      <div class="row btn_row1">
        <span>
          <button class="btn btn-info action-btn editBtn" (click)="onEdit(client)">
            <p (click)="showDialog()">EDIT</p>
          </button>
          <button class="btn btn-info action-btn delBTn" (click)="onDelete(client._id)">
            <p>DELETE</p>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="600">
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <div class="main-login main-center">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <fieldset>
            <legend>Edit Client :</legend>
            <br>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="clientService.selectedClient._id">
            <div class="form-group">
              <label for="fname" class="cols-sm-2 control-label">First Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="clientService.selectedClient.fname"
                    required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lname" class="cols-sm-2 control-label">Last Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="lname" #name="ngModel" [(ngModel)]="clientService.selectedClient.lname"
                    required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                  <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #emailref="ngModel"
                    [(ngModel)]="clientService.selectedClient.email" required>
                </div>
              </div>
              <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                <div [hidden]="!emailref.errors?.pattern">
                  Invalid Email Address
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="clientService.selectedClient.telephone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="cols-sm-2 control-label">Address</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="clientService.selectedClient.address">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="city" class="cols-sm-2 control-label">City</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" name="city" #name="ngModel" [(ngModel)]="clientService.selectedClient.city">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="cols-sm-2 control-label">Country</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" name="country" #name="ngModel" [(ngModel)]="clientService.selectedClient.country">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="postalcode" class="cols-sm-2 control-label">Postal Code</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" name="postalcode" #name="ngModel" [(ngModel)]="clientService.selectedClient.postalcode">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="datefrom" class="cols-sm-2 control-label">Date From</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                  </span>
                  <input type="date" class="form-control" name="datefrom" #name="ngModel" [(ngModel)]="clientService.selectedClient.datefrom">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateto" class="cols-sm-2 control-label">Date To</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                  </span>
                  <input type="date" class="form-control" name="dateto" #name="ngModel" [(ngModel)]="clientService.selectedClient.dateto">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="noofvisitors" class="cols-sm-2 control-label">No of Visitors</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="noofvisitors" #name="ngModel" [(ngModel)]="clientService.selectedClient.noofvisitors">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="foodprefer" class="cols-sm-2 control-label">Food Prefered</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="foodprefer" #name="ngModel" [(ngModel)]="clientService.selectedClient.foodprefer">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="intactivities" class="cols-sm-2 control-label">Intrested Activities</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="intactivities" #name="ngModel" [(ngModel)]="clientService.selectedClient.intactivities">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="agegroup" class="cols-sm-2 control-label">Age Group</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="agegroup" #name="ngModel" [(ngModel)]="clientService.selectedClient.agegroup">
                </div>
              </div>
            </div>
            <flash-messages></flash-messages>
            <div class="form-group ">
              <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!userForm.valid">
                Update Client</button>
              <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block" type="button" (click)="resetForm(userForm)">Reset</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
</p-dialog>