<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid" id="body-container-fluid" style="height: 100vh">
  <div class="row background_row"></div>
  <div class="row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <div class="row" style="padding: 10px">

        <div class="col-lg-6" style="height: 87vh">


          <div class="card profile_card FixedHeightContainer3" style="width: 80%; margin: auto; height: 98%">

            <div class="_scrollable3">

              <img class="card-img-top client_pic" *ngIf="user.profilepic==null" src="../../../../assets/default.png"
                alt="Card image" style="width:70%;height:auto">
              <div class="card-body">
                <h5 class="card-title client_name">{{user.fname}} {{user.lname}}</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
              </div>
              <ul class="list-group list-group-flush" style="width:100%">
                <li class="list-group-item"><span class="item_name">EMAIL </span><span class="item_value">{{user.email}}</span></li>
                <li class="list-group-item"><span class="item_name">TELEPHONE </span><span class="item_value">{{user.telephone}}</span></li>
                <li class="list-group-item"><span class="item_name">ADDRESS </span><span class="item_value">{{user.address}},
                    {{user.city}}, {{user.country}}. {{user.postalcode}}</span></li>
                <li class="list-group-item"><span class="item_name">FOOD PREFERENCES </span><span class="item_value">{{user.foodprefer}}</span></li>
                <li class="list-group-item"><span class="item_name">ACTIVITIES </span><span class="item_value">{{user.intactivities}}</span></li>
                <li class="list-group-item"><span class="item_name">AGE GROUP </span><span class="item_value">{{user.agegroup}}</span></li>
                <li class="list-group-item"><span class="item_name">DATE </span><span class="item_value">{{user.datefrom}}
                    TO {{user.dateto}}</span></li>
              </ul>
              <div class="card-body">
                <!--<a href="#" class="card-link">Card link</a>-->
                <!--<a href="#" class="card-link">Another link</a>-->
              </div>

            </div>

          </div>


          <!--new card-->
        </div>
        <div class="col-lg-6" style="height: 87vh">
          <div class="tripsWrapper FixedHeightContainer">
            <div class="headWrapper" style="width: 100%; text-align: center">
              <h3 class="rightColHeading">YOUR TOURS</h3>
            </div>
            <div class="_scrollable">
              <div class="card iti_card" *ngFor="let iT of itineraryService.itenarary; let i = index">
                <div class="" *ngIf="user._id==iT.clientId">
                  <div class="card-header ITnameCover">
                    <h4 class="ITname">{{iT.name}}</h4>
                  </div>
                  <div class="card-body">
                    <div class="FixedHeightContainer2">
                      <div class="_scrollable2">
                        <div class="card-title" *ngFor="let event of iT.events; let i = index">
                          <h5>{{i+1}}. {{event.name}}</h5>
                          <p>{{event.venue}}</p>
                          <p><span style="font-weight: bold; font-size: small">FROM</span> : {{event.date_from}}
                            {{event.timein}}{{event.departure_time}}{{event.check_in_time}}</p>
                          <p><span style="font-weight: bold; font-size: small">TO</span> : {{event.date_to}}
                            {{event.timeout}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="iti_card_footer">
                      <p><span class="mb-1 text-muted">TOTAL AMOUNT : </span><span class="priceV">Rs.{{iT.totalPrice}}.00</span></p>
                      <div *ngFor="let sp of itenararyPaymentService.itenararypayment">
                        <div *ngIf="user._id==sp.clientid">
                          <div class="mb-1 text-muted"> PAYMENT STATUS : {{sp.status}}</div>
                          <button class="btn btn-primary paybtn" *ngIf="sp.status=='Waiting for Confirmation'" type="button" (click)="onPayment(i)">MAKE PAYMENT</button>
                        </div>
                      </div>
                      <button class="btn btn-primary mapbtn" type="button" (click)="map(iT)">VIEW MAP</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>



<!--app-nav></app-nav>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid" id="body-container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width:100%">
          <img *ngIf="user.profilepic==null" class="image card-img-top" src="../../../../assets/default.png" alt="Card image"
            style="width:300px;height:100%">
          <div class="card-body">
            <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
            <div class="address">
              <ul class=" l1 w3-ul w3-small">
                <br>
                <li><i class="fas fa-envelope" aria-hidden="true"></i> Email : {{user.email}}</li><br>
                <li><i class="fas fa-phone-square" aria-hidden="true"></i> Telephone : {{user.telephone}}</li><br>
                <li><i class="fas fa-home" aria-hidden="true"></i> Address : {{user.address}}</li><br>
                <li><i class="fas fa-building" aria-hidden="true"></i> City : {{user.city}}</li><br>
                <li><i class="fas fa-globe" aria-hidden="true"></i> Country : {{user.country}}</li><br>
                <li><i class="fas fa-globe" aria-hidden="true"></i> POstal Code : {{user.postalcode}}</li><br>
                <li><i class="fas fa-utensils" aria-hidden="true"></i> foodprefer : {{user.foodprefer}}</li><br>
                <li><i class="fas fa-gamepad" aria-hidden="true"></i> Activities : {{user.intactivities}}</li><br>
                <li><i class="fas fa-sort-numeric-down" aria-hidden="true"></i> Age Group : {{user.agegroup}}</li><br>
                <li><i class="far fa-calendar-alt" aria-hidden="true"> Date From : {{user.datefrom}}</i></li><br>
                <li><i class="far fa-calendar-alt" aria-hidden="true"> Date To : {{user.dateto}}</i></li><br>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4" style="background-color:lightblue;">
        <br>
        <h3>Your Trip</h3>
        <div class="card" *ngFor="let iT of itineraryService.itenarary; let i = index">
          <div *ngIf="user._id==iT.clientId">
            <div class="card-header">
              <h4>Itinerary Name: {{iT.name}}</h4>
            </div>
            <div class="card-body">
              <div class="card-title" *ngFor="let event of iT.events; let i = index">
                <h5>{{i+1}}. {{event.name}}</h5>
                <p>{{event.venue}}</p>
                <p> From : {{event.date_from}}  {{event.timein}}{{event.departure_time}}{{event.check_in_time}}</p>
                <p>To : {{event.date_to}}  {{event.timeout}}</p>
              </div>
              <h5>Total Amount : {{iT.totalPrice}}</h5>
              <div *ngFor="let sp of itenararyPaymentService.itenararypayment">
                <div *ngIf="user._id==sp.clientid">
                  <div class="mb-1 text-muted"> Payment Status : {{sp.status}}</div>
                  <button class="btn btn-primary" type="button" *ngIf="sp.status=='Waiting for Confirmation'" (click)="onPayment(i)">Make Payment</button>
                </div>
              </div>
              <button class="btn btn-primary" type="button" (click)="map(iT)">View Map</button>
              <button class="btn btn-primary" type="button" (click)="onPayment(i)">Make Payment</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" style="background-color:brown;">
      </div>
    </div>
  </div>
</div>

-->

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="900">
  <div>

    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let p of positions" [latitude]="p.lat" [longitude]="p.lng">
        <agm-info-window>{{p.name}}</agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

</p-dialog>