
.nav_col{
  padding-top:2%;
  padding-bottom: auto;
  padding-left: 0px;
  /*
  save for media @xl
  padding-right: 50px;
   */
  padding-right: 10px;
}

.background_row{
  height: 25vh;
  z-index: -1;
  margin-bottom: -25vh;
  background-color: #4AB4B2;
}

.client_pic{
  display: block;
  margin: auto;
}

.client_name{
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: large;
  color:#5C5C5C;
  text-transform: uppercase;
}

.item_name{
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: smaller;
  color:#7C7C7C;
  text-transform: uppercase;
  margin-right: 20px;

}

.item_value{
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: large;
  color:#7C7C7C;
  text-transform: lowercase;
}

.FixedHeightContainer2{
  height: 220px;
  padding: 10px;
  border-radius: 5px;
  background-color: #EFEFEF;
}

._scrollable2{
  height: 200px;
  overflow: auto;
}

.FixedHeightContainer{
  height: 98%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
._scrollable{
  height: 96.3%;
  overflow: auto;
}

.rightColHeading{
  margin-bottom: 10px;
  font-family: "Helvetica Neue";
  font-weight: bolder;
  font-size: x-large;
  color:#5C5C5C;
}

.ITnameCover{
  background-color: #4AB4B2;
}

.ITname{
  font-family: "Helvetica Neue";
  color: white;
  text-transform: uppercase;
}
.iti_card{
  min-height: 50px;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  /*border-bottom: 1px solid rgba(112,112,112,0.6);*/
  border-radius: 5px;
}

.iti_card_footer{
  margin-top: 5px;
}

.profile_card{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.paybtn{
  font-family: "Helvetica Neue";
  font-size: medium;
  font-weight: bold;
  background-color: #4AB4B2;
  border: none;
  border-radius: 5px;
}

.mapbtn{
  font-family: "Helvetica Neue";
  font-size: medium;
  font-weight: bold;
  background-color: white;
  border: 2px solid #4AB4B2;
  color: #4AB4B2;
  border-radius: 5px;
  margin-right: 10px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 5px;

}

.priceT{
  font-family: "Helvetica Neue";
  font-size: medium;
  color:#5C5C5C;
}

.priceV{
  font-family: "Helvetica Neue";
  font-size: medium;
  font-weight: bold;
  color:#5C5C5C;
}

.FixedHeightContainer3{
  height: 87vh;
}
._scrollable3{
  height: 87vh;
  overflow: auto;
}
