<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="main-login main-center">
        <form style="margin-top: 25px;" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <fieldset>
            <legend>
              <h3>Add New Travel Agent</h3><hr>
            </legend>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent._id">
            <div class="form-group">
              <label for="fname" class="cols-sm-2 control-label">First Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.fname"
                    required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="lname" class="cols-sm-2 control-label">Last Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="lname" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.lname" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">User Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.username"
                    required>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                  <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #emailref="ngModel"
                    [(ngModel)]="travelAgentService.selectedTravelAgent.email" required>
                </div>
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                  <div [hidden]="!emailref.errors?.pattern">
                    Invalid Email Address
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.password"
                    required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Re Enter Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="rePassword" #name="ngModel" [(ngModel)]="rePassword"
                    required>
                </div>
                <p style ="color:red" *ngIf="travelAgentService.selectedTravelAgent.password!='' && travelAgentService.selectedTravelAgent.password!=rePassword">Passwords Do Not Match !</p>
              </div>
            </div>

            <div class="form-group">
              <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-phone-square" aria-hidden="true"></i></span>
                  <input type="number" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.telephone" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="address" class="cols-sm-2 control-label">Address</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-home" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.address" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="isadmin" class="cols-sm-2 control-label">Admin Privilage</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <select class="form-control" name="isadmin" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.isadmin" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>
                </div>
              </div>
            </div>
            <flash-messages></flash-messages>
            <div class="form-group ">
              <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!userForm.valid">Add Travel Agent</button>
              <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block" type="button" (click)="resetForm(userForm)">Reset</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>