/* Split the screen in half */
.body_split {
  height: 94vh;

  }

/* Control the left side */
.view_pack {

  background-color: whitesmoke;
}

/* Control the right side */
.add_pack {

  background-color: darkgrey;
}

/* If you want the content centered horizontally and vertically */

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 70%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


