<div class = "container-fluid">
  <div class="row body_split">
    <div class="col-md-8 view_pack">
      <br>
      <h5>Packages offered</h5>
      <br>
      <div class="table-wrapper-scroll-y">
        <table class="table">

          <thead>
          <tr>
            <th scope="col">Package ID</th>
            <th scope="col">Package name</th>
            <th scope="col">Package type</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr class='clickable-row' data-href='url://'>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4 add_pack">
      <br>
      <h5>Add new package</h5>
      <br>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="packageName" aria-describedby="emailHelp" placeholder="Enter Package Name">
          <small id="emailHelp" class="form-text text-muted">We'll generate a unique ID for you</small>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="packageType" placeholder="Enter Package Type">
        </div>
        <br>
        <div class="form-group">
          <input type="password" class="form-control" id="packagePrice" placeholder="Enter Price">
        </div>
        <button type="submit" class="btn btn-primary">Add Package</button>
      </form>
    </div>
  </div>
</div>
