<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <div class="row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav-white></app-nav-white>
    </div>
  </div>
  <div class="row top_padding">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div class="row">
        <div class="col-lg-6 labelCover">
          <h4 id="h4l">MANAGE ITINERERAY PAYMENTS</h4>
        </div>
        <div class="col-lg-6 searchBar">
          <div class="searchCover">
            <div class=" search form-group search_bar">
              <input type="text" class="form-control" name="search" placeholder="search Here..." [(ngModel)]="searchKeyword">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>


  <div class="row content_row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div class="row">
        <ng-container *ngFor="let sp of itenararyPaymentService.itenararypayment| ClientPaymentFilter:searchKeyword">
          <div class="col-lg-6" *ngIf="user.username==sp.tausername">
            <div class="card_col" >
              <div class="row card_cover">
                <div class="col-3 Pro_Pic_cover">
                  <img  class="Pro_Pic" id="pp1" alt="Thumbnail [200x250]" src="../../../../../source/images/icon/payment.png">
                </div>
                <div class="col-6 textParent">
                  <div class="textDev">
                    <h4>{{sp.clientname}}</h4>
                    <p class="email">{{sp.itenararyname}}</p>
                    <p class="email">{{sp.date}}</p>
                    <p class="email">{{sp.amount}}</p>
                    <p class="email">{{sp.status}}</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="row" style="height: 100%">
                    <div class="col-7 icn_container" style="padding: 0px" *ngIf="sp.status=='Waiting for Confirmation'" (click)="onConfirm(sp)">
                      <img class="edit_icn" src="../../../../../source/images/icon/confirm.png">
                    </div>
                    <div class="col-5 icn_container " style="padding:0px" *ngIf="sp.status=='Waiting for Confirmation'" (click)="onReject(sp)">
                      <img class="delete_icn" src="../../../../../source/images/icon/reject.png" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>
  <div class="row bottom_padding"></div>
</div>