<app-nav></app-nav>
<div class="container-fluid" id="body-container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/a8_ujXr3VWHstGkxgJL1TkqfrytP4r_52QhcvqRQVaQPRQ9DHdQ6seI99qc4jLjC0WDM=h900" alt="Card image"  style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
          <div class="address">								
            <ul class="list1 w3-ul w3-small">
              <br>
              <li><i class="fas fa-envelope" aria-hidden="true"></i> Email : {{user.email}}</li><br>
              <li><i class="fas fa-phone-square" aria-hidden="true"></i> Telephone : {{user.telephone}}</li><br>
              <li><i class="fas fa-home" aria-hidden="true"></i> Address : {{user.address}}</li><br>
            </ul>
            <button class="btn btn-primary" type="button" [routerLink]='["/edittravelagent"]'>Edit Details</button><br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8" style="background-color:lightblue;">
      <div class ='container-fluid'>
        <div class = 'row'>
          <div class ='col col_2'>
          </div>
        </div>
        <br><br>
        <div class ='container-fluid'>
          <div class = 'row'>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  