<app-header-bar></app-header-bar>
<div class="container-fluid" id="body-container-fluid">
    <div class="row">
      <div class="col-lg-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/a8_ujXr3VWHstGkxgJL1TkqfrytP4r_52QhcvqRQVaQPRQ9DHdQ6seI99qc4jLjC0WDM=h900" alt="Card image"  style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
            <ul class="list-inline" id="courses">
              <li class="list-inline-item">
                <i class="fa fa-user"></i>User Name :  {{user.username}}
              </li>            
            </ul>
          <div class="address">								
          <ul class="w3-ul w3-small">
            <br>
            <li><i class="fa fa-user" aria-hidden="true"></i>Email : {{user.email}}</li><br>
            <li><i class="fa fa-user" aria-hidden="true"></i>Telephone : {{user.telephone}}</li><br>
            <li><i class="fa fa-user" aria-hidden="true"></i>Address : {{user.address}}</li><br>
          </ul>
          <button class="btn btn-primary" type="button" [routerLink]='["/edittravelagent"]'>Edit</button>
        </div>
        </div>
      </div>
      </div>
      <div class="col-lg-8" style="background-color:lightblue;">
        <br><br>
        <div class ='container-fluid'>
          <div class = 'row'>
            <div class ='col col_2'>
              <h2>Ongoing Itineraries</h2>
              <div class="table-wrapper-scroll-y">
              <!-- <table class="table"> -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Client</th>
                      <th scope="col">Agent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Sigiriya</td>
                      <td>Jacob</td>
                      <td>Chameera</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Anuradhapura</td>
                      <td>Thornton</td>
                      <td>Janith</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>N'eliya</td>
                      <td>Nicolous</td>
                      <td>Raviru</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class ='col col_3'>
              <h2> Upcoming Itineraries</h2>
              <div class="table-wrapper-scroll-y">
        <!-- <table class="table"> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Client</th>
                  <th scope="col">Agent</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Sigiriya</td>
                  <td>Jacob</td>
                  <td>Chameera</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Anuradhapura</td>
                  <td>Thornton</td>
                  <td>Janith</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>N'eliya</td>
                  <td>Nicolous</td>
                  <td>Raviru</td>
                </tr>

              </tbody>
            </table>
          </div>  
        </div>
      </div>
      <br><br>
      <div class ='container-fluid'>
          <div class = 'row'>
            <div class ='col col_2'>
              <h2>Created Itineraries</h2>
              <div class="table-wrapper-scroll-y">
              <!-- <table class="table"> -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Client</th>
                      <th scope="col">Agent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Sigiriya</td>
                      <td>Jacob</td>
                      <td>Chameera</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Anuradhapura</td>
                      <td>Thornton</td>
                      <td>Janith</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>N'eliya</td>
                      <td>Nicolous</td>
                      <td>Raviru</td>
                    </tr>
                    <tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class ='col col_3'>
              <h2> Drafted Itineraries</h2>
              <div class="table-wrapper-scroll-y">
        <!-- <table class="table"> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Client</th>
                  <th scope="col">Agent</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Sigiriya</td>
                  <td>Jacob</td>
                  <td>Chameera</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Anuradhapura</td>
                  <td>Thornton</td>
                  <td>Janith</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>N'eliya</td>
                  <td>Nicolous</td>
                  <td>Raviru</td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
  