<p-dialog [(visible)]="display1" [modal]="true" [responsive]="true">
  <div class="container-fluid">
    <form style="margin-top: 25px;" #pwForm="ngForm" (ngSubmit)="sendPassword(pwForm)">
      <fieldset>
        <legend>
        </legend>
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="id">

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Enter New Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="password"
                required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Re Enter New Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="rePassword" #name="ngModel" [(ngModel)]="repassword"
                required>
            </div>
            <p style="color:red" *ngIf="password!='' &&password!=repassword">Passwords
              Do Not Match !</p>
          </div>
        </div>

        <div class="form-group ">
          <button class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!pwForm.valid">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="display2" [modal]="true" [responsive]="true">
  <h4>Link Expired</h4>
  <p>You are triyng to use a expired link. Please request a new password reset request to proceed.</p>  
</p-dialog>