<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <div class="row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav-white></app-nav-white>
    </div>
  </div>
  <div class="row top_padding">
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 searchBar">
      <div class=" search form-group search_bar">
        <input type="text" class="form-control" name="search" placeholder="search Here..." [(ngModel)]="searchKeyword">
      </div>
    </div>
  </div>
  <div class="row content_row">
    <div class="col-md-3 spSlot" *ngFor="let sp of serviceProviderService.sp | ServiceProviderFilter:searchKeyword">
      <div class="row card_pic">
        <img *ngIf="sp.profilepic == null" src="../../../../assets/source/images/85861600.jpg" style="height:200px">
        <img *ngIf="sp.profilepic != null" src="../../../../assets/{{sp.profilepic}}" style="height:200px">
      </div>
      <div class="title_">
        <span class="white_bg">{{sp.fname}}</span>
      </div>
      <div class="row card_info" style="height: 235px">

        <div class=" row cardTextCover">
          <div class="col-2 text_col1">
            <p class="_cardtitle">MAIL</p>
          </div>
          <div class="col-9 text_col2">
            <p class="_cardDetail">{{sp.email}}</p>
          </div>
          <div class="col-1"></div>
        </div>

        <div class=" row cardTextCover">
          <div class="col-2 text_col1">
            <p class="_cardtitle">PHONE</p>
          </div>
          <div class="col-9 text_col2">
            <p class="_cardDetail">{{sp.telephone}}</p>
          </div>
          <div class="col-1"></div>
        </div>

        <div class=" row cardTextCover">
          <div class="col-2 text_col1">
            <p class="_cardtitle">ADDRESS</p>
          </div>
          <div class="col-9 text_col2">
            <p class="_cardDetail">{{sp.address}}</p>
          </div>
          <div class="col-1"></div>
        </div>

        <div class=" row cardTextCover1">
          <div class="col-2 text_col1">
            <p class="_cardtitle">INFO</p>
          </div>
          <div class="col-9 text_col2">
            <p class="_cardDetail">{{sp.discription}}</p>
          </div>
          <div class="col-1"></div>
        </div>

      </div>
      <div class="row btn_row1">
        <button class="btn btn-info action-btn vpBtn" (click)="onViewPackages(sp._id)">
          <p>PACKAGES</p>
        </button>
      </div>

    </div>
  </div>

</div>

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="600">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <div class="main-login main-center">
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <fieldset>
              <legend>Update Service Provider :</legend>
              <br>
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider._id">
              <div class="form-group">
                <label for="fname" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.fname"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">User Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.username"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"
                      #emailref="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.email" required>
                  </div>
                  <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                    <div [hidden]="!emailref.errors?.pattern">
                      Invalid Email Address
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.telephone"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="cols-sm-2 control-label">Address</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.address"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="type" class="cols-sm-2 control-label">Type</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="type" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.type"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="discription" class="cols-sm-2 control-label">Discription</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="discription" #name="ngModel" [(ngModel)]="serviceProviderService.selectedServiceProvider.discription"
                      required>
                  </div>
                </div>
              </div>
              <flash-messages></flash-messages>
              <div class="form-group ">
                <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block login-button" type="submit"
                  [disabled]="!userForm.valid">Update Service Provider</button>
                <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block" type="button" (click)="resetForm(userForm)">Reset</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</p-dialog>