<div class="col-lg-9">
  <h2 class="title-1 m-b-25">Uncompleted Itenararies</h2>
  <div class="table-responsive table--no-card m-b-40">
      <table class="table table-borderless table-striped table-earning">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Itenarary ID</th>
                  <th>Assigned User</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>2018-09-29 05:57</td>
                  <td>100398</td>
                  <td>iPhone X 64Gb Grey</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
