<div class="container-fluid" id="body-container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/a8_ujXr3VWHstGkxgJL1TkqfrytP4r_52QhcvqRQVaQPRQ9DHdQ6seI99qc4jLjC0WDM=h900" alt="Card image"  style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
            <ul class="list-inline" id="courses">
              <li class="list-inline-item">
                <i class="fa fa-user"></i>User Name :  {{user.username}}
              </li>            
            </ul>

          <div class="address">								
          <ul class="w3-ul w3-small">
            <li> <i class="fa fa-user" aria-hidden="true"></i>Email : {{user.email}}</li><br>
            <li><i class="fa fa-user" aria-hidden="true"></i>Telephone : {{user.telephone}}</li><br>
            <li *ngIf="user.address"><i class="fa fa-user" aria-hidden="true"></i>Address : {{user.address}}</li><br>
            <li *ngIf="user.type"><i class="fa fa-user" aria-hidden="true"></i>Type : {{user.type}}</li><br>
            <li *ngIf="user.discription"><i class="fa fa-user" aria-hidden="true"></i>Discription : {{user.discription}}</li><br>
            <li *ngIf="user.noofvisitors"><i class="fa fa-user" aria-hidden="true"></i>No Of Visitors : {{user.noofvisitors}}</li><br>
            <li *ngIf="user.foodperfer"><i class="fa fa-user" aria-hidden="true"></i>Food : {{user.foodperfer}}</li><br>
            <li *ngIf="user.intactivities"><i class="fa fa-user" aria-hidden="true"></i>Activities : {{user.intactivities}}</li><br>
            <li *ngIf="user.agegroup"><i class="fa fa-user" aria-hidden="true"></i>Age Group : {{user.noofvisitors}}</li><br>
          </ul>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
  