body {
    background-color:white;;
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:2000px;
    }
    /*----------------Containers--------------------*/
    
    #top-container-fluid-nav
    {
    background-color:inherit;	
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover	;
    }
    
    #body-container-fluid
    {
    background-color:inherit;	
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    margin-top:50px;		
    }
    
    #footer-container-fluid
    {
    background-color:inherit;	
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding-bottom:25px;
    padding-top:25px;	
    }
    
    .card 
    {
    padding:10px;
    border:0px solid white;
    box-shadow:0px 7px 16px 0px rgba(0, 0, 0, 0.09);
    }
    .card-title
    {
    color:black;
    font-size:16px;
    text-align:center;
    }
    .card-text
    {
    color:#84919B;
    font-size:12px;	
    text-align:center;
    
    }
    
    #courses  
    {
    text-align:center;
    }
    
    /**********************
            courses
    **********************/
    .list-inline-item 
    {
    font-size:13px;
    color:#84919B;
     }
    /**********************
            courses
    **********************/
    
    
    .address .w3-ul li
     {
        border:0px solid white;
        line-height:1px;
    }
    
    
    
    /**********************
            abilities
    **********************/
    span 
    {
    font-size:10px;
    float:right;
    background-color:#F4F7F9;
    border-radius:10px;
    padding:3px 8px;
    color:#84919B;
    }
    .lower-case
    {
    color:#84919B;
    font-size:12px;
    text-align:center;
    }
    
    /**********************
            abilities
    **********************/
    
    
    
    
    /**********************
            ratings
    **********************/
    
    .ratings .fa
    {
    color:indigo;
    font-size:25px;
    }
    .ratings .fa:hover
    {
    color:yellow;
    }
    .ratings .list-inline
    {
    text-align:center;
    }
    
    /**********************
            ratings
    **********************/
    
    
    
    
    
    /**********************
            socials
    **********************/
    .socials {
    text-align:center;
    }
    
    /**********************
            socials
    **********************/
    
    
    
    
     /**********************
            footer
    **********************/
    .learn {font-size:12px;color:gray;}
    .learn a:hover {text-decoration:none;}
    /**********************
            footer
    **********************/
     
     