<app-nav></app-nav>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="main-login main-center">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" method="POST" target="_blank" action="https://sandbox.payhere.lk/pay/checkout"
          #form>
          <fieldset>

            <input type="hidden" name="merchant_id" value="1211720">
            <input type="hidden" name="return_url" value="http://localhost:4200/client-account">
            <input type="hidden" name="cancel_url" value="http://localhost:4200/client-account">
            <input type="hidden" name="notify_url" value="http://sample.com/notify">
            <input type="hidden" name="order_id" value={{user._id}}>
            <input type="hidden" name="items" value="clientPaymentService.itenararyname"><br>
            <input type="hidden" name="currency" value="LKR">

            <h3>Client Details</h3>

            First Name : 
            <input class="input1" type="text" name="first_name" value="{{user.fname}}" readonly><br>
            Last Name :
            <input class="input1" type="text" name="last_name" value="{{user.lname}}" readonly><br>
            Email : 
            <input class="input1" type="text" name="email" value="{{user.email}}" readonly><br>
            Telephone : 
            <input class="input1" type="text" name="phone" value="{{user.telephone}}"readonly><br>
            Address : 
            <input class="input1" type="text" name="address" value="{{user.address}}"readonly><br>
            City:
            <input class="input1" type="text" name="city" value="{{user.city}}"readonly><br>
            Country:
            <input class="input1" type="text" name="country" value="{{user.country}}"readonly><br><br>
            
            <input type="hidden" name="clientname" #name="ngModel" [(ngModel)]=user.fname>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="itenararyPaymentService.selectedItenararyPayment._id">

            <h3>Payment Details</h3>
            <input type="hidden" name="clientid" #name="ngModel" [(ngModel)]="user._id" required>
            Amount : 
            <input class="input1" type="text" name="amount" #name="ngModel" [(ngModel)]="amount" readonly ><br>
            Date :
            <input class="input1" type="text" name="date" #name="ngModel" [(ngModel)]="current_date"><br>
            <br>

            <h3>Itenarary Details</h3>
            <input type="hidden" name="itenararyid" #name="ngModel" [(ngModel)]="itid">
            Itenarary Name :
            <input class="input1" type="text" name="itenararyname" #name="ngModel" [(ngModel)]="itname"><br><br><br>

            <flash-messages></flash-messages>
            <div class="form-group ">
              <button class="btn btn-primary btn-lg btn-block login-button" type="submit" (click)="form.submit()"[disabled]="!userForm.valid">Make ItenararyPayment</button>
              <!--button class="btn btn-primary btn-lg btn-block login-button" type="button" >Reset</button-->
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>