<app-nav></app-nav>
<div *ngFor="let tagent of travelAgentService.tagent">
  <div *ngIf="user._id==tagent._id">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div style="margin-top: 20px" class="main-login main-center">
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
              <fieldset>
                <legend>Update Travel Agent</legend>
                <hr>
                <input type="hidden" value="" name="_id" #_id="ngModel" [(ngModel)]="tagent._id">

                <div class="form-group">
                  <label for="fname" class="cols-sm-2 control-label">First Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="tagent.fname"
                        required>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="lname" class="cols-sm-2 control-label">Last Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="lname" #name="ngModel" [(ngModel)]="tagent.lname"
                        required>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="email" class="cols-sm-2 control-label">Email</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                      <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"
                        #emailref="ngModel" [(ngModel)]="tagent.email" required>
                    </div>
                    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                      <div [hidden]="!emailref.errors?.pattern">
                        Invalid Email Address
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-phone-square" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="tagent.telephone"
                        required>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="address" class="cols-sm-2 control-label">Address</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-home" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="tagent.address"
                        required>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="isadmin" class="cols-sm-2 control-label">Admin Privilage</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <select class="form-control" name="isadmin" #name="ngModel" [(ngModel)]="tagent.isadmin" required>
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>
                  </div>
                </div>
                <flash-messages></flash-messages>
                <div class="form-group ">
                  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!userForm.valid">Update
                    Agent</button>
                </div>
              </fieldset>
            </form>
            <hr>
            <button class="btn btn-info" (click)="showDialog1()">Change Password</button>
            <hr>
            <button class="btn btn-info" (click)="showDialog3()">Change Profile Picture</button>
            <hr>
            <flash-messages></flash-messages>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display1" [modal]="true" [responsive]="true">
  <div id="c1" class="container">
    <form style="margin:10px" (ngSubmit)="loginUser()">
      <fieldset>
        <h5>Please Re Enter Email & Password</h5>
        <hr>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #emailref="ngModel" [(ngModel)]="email"
            required>
          <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
            <div [hidden]="!emailref.errors?.pattern">
              Invalid Email Address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
            [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-primary" style="float: right">Login</button>
      </fieldset>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="display2" [modal]="true" [responsive]="true">
  <div class="container-fluid">
    <form style="margin-top: 25px;" #pwForm="ngForm" (ngSubmit)="sendPassword(pwForm)">
      <fieldset>
        <legend>
        </legend>
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="user._id">

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Enter New Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.password"
                required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Re Enter New Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="rePassword" #name="ngModel" [(ngModel)]="rePassword"
                required>
            </div>
            <p style="color:red" *ngIf="travelAgentService.selectedTravelAgent.password!='' && travelAgentService.selectedTravelAgent.password!=rePassword">Passwords
              Do Not Match !</p>
          </div>
        </div>

        <div class="form-group ">
          <button class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!pwForm.valid">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="display3" [modal]="true" [responsive]="true">
  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload
    an Image</button>
</p-dialog>