.nav_row{
  min-height: 15vh;
  /*background-color: #4AB4B2;*/
}

.nav_col{
  padding-top:2%;
  padding-bottom: auto;
  padding-left: 0px;
  /* media @xl
  padding-right: 50px;
   */
  padding-right: 10px;
  border-bottom: 1px solid #7C7C7C;
}

.top_padding{
  height: 13vh;
}



#h4l{
  font-size: 22px;
  color: #2A433C;
  /*margin-top: 10%;*/
}

.labelCover {
  /*text-align: center;*/
  display:flex;
  justify-content:center;
  align-items:center;
}

.input_cover{
  border:1px solid rgba(112,112,112,0.24);
  border-radius: 7px;
  padding-bottom: 0px;
  width:90%;
  margin-bottom: 4%;
}
.input_cover_add{
  border:1px solid rgba(112,112,112,0.24);
  border-radius: 7px;
  padding-bottom: 0px;
  width:95%;
  margin-bottom: 3%;
}

.bdr_shadow{
  padding: 10px;
}


._fname,._lname,._telephone,._email,._isadmin,_username{
  margin-bottom: -8px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px solid rgba(112,112,112,0.6);
  border-radius: 0px;
  height:2em;
}

._address{
  margin-bottom: -8px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px solid rgba(112,112,112,0.6);
  border-radius: 0px;
  height:2em;
}

.ip1{
  width:93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.ip2{
  width:96%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

input{
  padding-bottom: 0px;
}

.form-group{
  padding-bottom: 0px;
  padding-top: 0px;
}

.control-label{
  margin-left: 3.5%;
  margin-top: 1%;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 14px;
  color:#7C7C7C;
}

.control-label_add{
  margin-left: 1.75%;
  margin-top: 0.5%;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 14px;
  color:#7C7C7C;
}

.text_cover{
  margin-left:  0px;
}

.btn_col{
  padding-top: 6%;

}

.sbmt_btn,.btn_dp_update,.btn_cng_pwd{
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: medium;
  padding-bottom: 5px;
  border-radius: 7px;
}


.sbmt_btn{
  width: 200px;
  height: 45px;
}

.btn_dp_update,.btn_cng_pwd{
  width: 200px;
  height: 45px;
  background-color: white;
  color:#4AB4B2;
  border: 2px solid;
}

.btn_dp_update{
  margin-left: 20px;
}

.img_cover {
  border-radius: 50%;
}
/*
.type1{
  width: 30vh;
  height: 30vh;
  background: yellow;
  border: 3px solid red;
}

.img_col{

  padding-left: auto;
  padding-right: auto;
}
*/
.proPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  height: 30vh;
  max-height: 100%;
  border-radius: 100%;
}

