<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <div class = "row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav-white></app-nav-white>
    </div>
  </div>
  <div class="row top_padding">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div class="row">
        <div class="col-lg-6 labelCover">
          <h4 id="h4l">MANAGE TRAVEL AGENTS</h4>
        </div>
        <div class="col-lg-6 searchBar">
          <div class="searchCover">
            <div class=" search form-group search_bar">
              <input type="text" class="form-control" name="search" placeholder="search Here..." [(ngModel)]="searchKeyword">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>

  <div class="row content_row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div class="row">
        <ng-container *ngFor="let tagent of travelAgentService.tagent | TravelAgentFilter:searchKeyword">
        <div class="col-lg-6" *ngIf="user.agencyname==tagent.agencyname">
          <div class="card_col">
            <div class="row card_cover">
              <div class="col-3 Pro_Pic_cover">
                <img *ngIf="tagent.profilepic==null" class="Pro_Pic" id="pp1" alt="Thumbnail [200x250]" src="../../../../assets/default.png">
                <img *ngIf="tagent.profilepic!=null" class="Pro_Pic" id="pp1" alt="Thumbnail [200x250]" src="../../../../assets/{{tagent.profilepic}}">
              </div>
              <div class="col-6 textParent">
                <div class="textDev">
                  <h4>{{tagent.fname}} {{tagent.lname}}</h4>
                  <p class="email">{{tagent.email}}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="row" style="height: 100%">
                  <div class="col-7 icn_container" style="padding: 0px" *ngIf="user.isadmin==true" (click)="onEdit(tagent)">
                    <img (click)="showDialog()" class="edit_icn" src="../../../../../source/images/icon/icons8-edit-file-100.png">
                  </div>
                  <div class="col-5 icn_container icn_extra" style="background-color: #24ADAB; padding: 0px" *ngIf="user.isadmin==true"
                    (click)="onDelete(tagent._id)">
                    <img class="delete_icn" src="../../../../../source/images/icon/icons8-delete-bin-100.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>
  <div class="row bottom_padding"></div>
</div>






<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="600">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <div class="main-login main-center">
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <fieldset>
              <legend>Update Travel Agent:</legend>
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent._id">
              <div class="form-group">
                <label for="fname" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="fname" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.fname"
                           required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="lname" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="lname" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.lname" required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">User Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.username"
                           required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #emailref="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.email" required>
                  </div>
                  <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                    <div [hidden]="!emailref.errors?.pattern">
                      Invalid Email Address
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="telephone" class="cols-sm-2 control-label">Telephone No</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-phone-square" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="telephone" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.telephone" required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="address" class="cols-sm-2 control-label">Address</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.address" required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="isadmin" class="cols-sm-2 control-label">Admin Privilage</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="isadmin" #name="ngModel" [(ngModel)]="travelAgentService.selectedTravelAgent.isadmin" required>
                  </div>
                </div>
              </div>
              <flash-messages></flash-messages>
              <div class="form-group ">
                <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!userForm.valid">Update Agent</button>
                <button style="margin-top:5px;" class="btn btn-primary btn-lg btn-block" type="button" (click)="resetForm(userForm)">Reset</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</p-dialog>

