<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<p-dialog [(visible)]="display1" [modal]="true" [responsive]="true">
  <div id="c1" class="container">
    <form style="margin:10px">
      <fieldset>
        <h5>Compose Email Here</h5>
        <hr>
        <div class="form-group">
          <textarea cols="50" rows="5" class="form-control" name="message" #name="ngModel" [(ngModel)]="message"
            required></textarea>
        </div>
        <button type="submit" (click)="booking(message)" class="btn btn-primary" style="float: right">Send Email</button>
      </fieldset>
    </form>
  </div>
</p-dialog>
<div>

</div>
<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="900">
  <div>

    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let p of positions" [latitude]="p.lat" [longitude]="p.lng">
          <agm-info-window>{{p.name}}</agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

</p-dialog>

<div class="container-fluid">

  <div class="row nav_row">
    <div class="col-md-4"></div>
    <div class="col-md-8 nav_col">
      <app-nav-white></app-nav-white>
    </div>
  </div>

  <div class="row top_padding">
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-3 searchBar">
      <div class=" search form-group search_bar">
        <input type="text" class="form-control" name="search" placeholder="search Here..." [(ngModel)]="searchKeyword">
      </div>
    </div>
  </div>

  <div class="card-columns" *ngIf="view">

    <div class="card" *ngFor="let iT of itineraryService.iT| ItineraryFilter:searchKeyword; let i = index " style="border: 0">
      <div class="card-header it_header">
        <p  class="itName">{{iT.name}}</p>
        <p  class="agentName">{{iT.traveAgentName}}</p>
        <p class="note">{{iT.note}}</p>
        <p class="lastUpdated">Last Updated {{iT.date_time}}</p>
      </div>
      <div class="card-body event_cover">
        <div class="event_item_cover" *ngFor="let event of iT.events; let i = index" style="height: 70px;margin-bottom: 7px; margin-top: 10px" >
          <div class="row" style="height: 70px;padding: 5px;width: 100%">
            <div class="col-1 num_col" >
              {{i+1}}
            </div>
            <div class="col-3 title_col" >
              <p class="card-text item_name">{{event.name}} </p>
            </div>
            <div class="col-1 stdate_col">
              <p class="event_time">{{event.date_from}}<br>{{event.intime}}{{event.depature_time}}{{event.check_in_time}}</p>
            </div>
            <div class="col-2 enddate_col">
              <p class="event_time">{{event.date_to}}<br>{{event.outtime}}</p>
            </div>
            <div class="col-2 btn_col">
              <button class="btn btn-primary cspbtn" *ngIf="event.sp_id!=null" (click)="makeBooking(iT._id,event.id)">CONTACT SP</button>
            </div>
            <div class="col-2 btn_col">
              <button class="btn btn-primary paybtn" *ngIf="event.sp_id!=null && event.payment_status=='not_paid'"
                (click)="makePayment(iT._id,event.id,event._id)">PAYMENT</button>
              <p  *ngIf="event.sp_id!=null && event.payment_status!='not_paid'" style="font-weight: bold; font-size: smaller">PAID</p>
            </div>
            <div class="col-1 btn_col">
              <button class="btn btn-primary bkdbtn" *ngIf="event.sp_id!=null && event.booking_status=='not_booked'"
                (click)="confirmBooking(iT._id,event.id,event._id)">BOOK</button>
              <p  *ngIf="event.sp_id!=null && event.booking_status!='not_booked'" style="font-weight: bold; font-size: smaller">BOOKED</p>
            </div>
          </div>
        </div>
        <button href="#" class="btn btn-primary editbtn" (click)="editItinerary(iT)"><img class="edit_img" src="../../../../../source/images/icon/icons8-edit-file-100.png"></button>
        <button href="#" class="btn btn-primary mapbtn" (click)="map(iT)"><img class="edit_img" src="../../../../../source/images/icon/globe.png"></button>
        <button href="#" class="btn btn-primary delbtn" (click)="deleteItinerary(iT._id)"><img class="edit_img" src="../../../../../source/images/icon/delete.png"></button>
        <button class="btn btn-primary pdfbtn" (click)="viewPDF(iT)"><img class="edit_img" src="../../../../../source/images/icon/icons8-view-90.png"></button>
      </div>
    </div>
  </div>
</div>
<div>
  <p-dialog [(visible)]="display3" [modal]="true" [responsive]="true">
    <div id="contentToConvert1" class="container">
      <div class="card-header it_header">
        <p class="itName">{{pdf.name}}</p>
        <p class="agentName">{{pdf.traveAgentName}}</p>
        <p class="note">{{pdf.note}}</p>
        <p class="lastUpdated">Last Updated {{pdf.date_time}}</p>
      </div>
      <div class="card-body event_cover">
        <div class="event_item_cover" *ngFor="let event of pdf.events; let i = index" style="height: 70px;margin-bottom: 7px; margin-top: 10px">
          <div class="row" style="height: 70px;padding: 5px;width: 100%">
            <div class="col-1 num_col">
              {{i+1}}
            </div>
            <div class="col-3 title_col">
              <p class="card-text item_name">{{event.name}} - </p><br>
              <p class="card-text item_name"> {{event.venue}} </p>
            </div>
            
            <div class="col-1 stdate_col">
              <p class="event_time">{{event.date_from}}<br>{{event.intime}}{{event.depature_time}}{{event.check_in_time}}</p>
            </div>
            <div class="col-2 enddate_col">
              <p class="event_time">{{event.date_to}}<br>{{event.outtime}}</p>
            </div>

            <div class="col-2 btn_col">
              <p *ngIf="event.sp_id!=null && event.payment_status!='not_paid'" style="font-weight: bold; font-size: smaller">PAID</p>
            </div>
            <div class="col-1 btn_col">
              <p *ngIf="event.sp_id!=null && event.booking_status!='not_booked'" style="font-weight: bold; font-size: smaller">BOOKED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary pdfbtn" (click)="generatePDF(pdf.name)"><img class="edit_img" src="../../../../../source/images/icon/pdf.png"></button>
  </p-dialog>