<app-nav-white></app-nav-white>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container" *ngIf="view">
  <div class="card" *ngFor="let iT of itineraryService.iT; let i = index">
    <div class="card-header" id="contentToConvert1">
      <h4>Itinerary name: {{iT.name}}</h4>
      <h5>{{i+1}}.Tranvel Agent: {{iT.traveAgentName}}</h5>
      <h6>Note: {{iT.note}}</h6>
      <h6>Last updated {{iT.date_time}}</h6>
    </div>
    <div class="card-body">
      <div *ngFor="let event of iT.events; let i = index">
        <h5 class="card-title" id="contentToConvert2">{{i+1}}. {{event.name}} </h5>
        <div>
          <button class="btn btn-link" *ngIf="event.sp_id!=null"  (click)="makeBooking(iT._id,event.id)">Contact Service Provider</button>
          <button class="btn btn-link" *ngIf="event.sp_id!=null && event.payment_status=='not_paid'"  (click)="makePayment(iT._id,event.id,event._id)">Payment</button>
          <button class="btn btn-link" *ngIf="event.sp_id!=null && event.booking_status=='not_booked'" (click)="confirmBooking(iT._id,event.id,event._id)" >Confirm Booking</button>

          <p id="contentToConvert4" *ngIf="event.sp_id!=null && event.booking_status!='not_booked'">Booked</p>
          <p id="contentToConvert3" *ngIf="event.sp_id!=null && event.payment_status!='not_paid'">Paid</p>
        </div>
      </div>
      <button href="#" class="btn btn-primary" (click)="editItinerary(iT)">Edit</button>
      <hr>
      <button href="#" class="btn btn-primary" (click)="deleteItinerary(iT._id)">Delete</button>
    </div>
    <button class="btn btn-primary" (click)="generatePDF(iT.name)">Genarate PDF</button>
  </div>
</div>
<div class="container" *ngIf="!view">
  <h2>
    No Itineraries created yet...!
  </h2>
</div>

<p-dialog [(visible)]="display1" [modal]="true" [responsive]="true">
  <div id="c1" class="container">
    <form style="margin:10px">
      <fieldset>
        <h5>Compose Email Here</h5>
        <hr>
        <div class="form-group">
          <textarea cols="50" rows="5" class="form-control" name="message" #name="ngModel" [(ngModel)]="message" required></textarea>
        </div>
        <button type="submit" (click)="booking(message)" class="btn btn-primary" style="float: right">Send Email</button>
      </fieldset>
    </form>
  </div>
</p-dialog>