<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Event Information</mat-card-title>
    <span class="toobar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancle</mat-icon>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>


  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div class="tabulation animate-box">
          <div class="row">
            <div class="col-md-6">
              <label for="cost">Event type</label>
              <select class="form-control" [(ngModel)]="formType">
                <option>Hotel</option>
                <option>Cutom</option>
                <option>Travel</option>
              </select>
            </div>
          </div>

          <form action="" [formGroup]="eventForm" (submit)="onSubmit()">
              <input type="hidden" formControlName="event_type" class="form-control" [(ngModel)]="formType">
            <div class="form-group">
              <div class="row">



                <div class="col-md-6">
                  <label for="Name">Event Name</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="Venue">Venue</label>
                  <input type="text" formControlName="venue" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="date_from">Date from</label>
                  <input type="date" formControlName="date_from" [value]="minimum_date" [min]="minimum_date" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="date_to">Date to</label>
                  <input type="date" formControlName="date_to" [value]="minimum_date" [min]="minimum_date" class="form-control">
                </div>

                

                <div class="col-md-6">
                    <form class="example-form">
                        <label for="packages">SP username</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Service Provider" aria-label="Client" [matAutocomplete]="auto"
                          [formControl]="ServiceProviderCtrl">
                      </mat-form-field>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let client of filteredServiceProviders | async" [value]="client.username">
                          <span>{{client.fname}} </span>
                          <small>type : {{client.type}} </small>
                        </mat-option>
                      </mat-autocomplete>
                      
                      <button (click)=" getPkgs()" class="btn btn-success">Check</button>
                    </form>
                  </div>
                  <input type="type="hidden formControlName="sp_id" class="form-control" [(ngModel)]="Sp_id">

                <div class="col-md-6">
                    <label for="packages">Package</label>
                    <!-- <input type="text"  class="form-control"> -->
                    <select class="form-control" formControlName="pkg_id" (ngModelChange)="setCost()">
                      <option value="">Select a SP</option>
                      <option *ngFor="let a of pkgs" [value]="a._id"> {{a.name}} </option>{{a._id}}
                    </select>
                  </div>

                <div class="col-md-6">
                  <label for="description">Description</label>
                  <input type="textarea" formControlName="description" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="Name">price</label>
                  <input type="number" formControlName="price" class="form-control" [(ngModel)] = "price">
                </div>

                <div class="col-md-6">
                  <label for="cost">cost</label>
                  <input type="number" formControlName="cost" class="form-control">
                </div>



                <div class="col-md-6" *ngIf="formType == 'Hotel'">
                  <label for="check_in_time">Check-in time</label>
                  <input type="text" formControlName="check_in_time" class="form-control">
                </div>

                <div class="col-md-6" *ngIf="formType == 'Hotel'">
                  <label for="duration">Duration</label>
                  <input type="text" formControlName="duration" class="form-control">
                </div>

                <div *ngIf="formType == 'Travel'">
                  <label for="travel_category">Travel category</label>
                  <input type="text" formControlName="travel_category" class="form-control">
                </div>
                <div *ngIf="formType == 'Travel'">
                  <label for="depature_time">Depature time </label>
                  <input type="text" formControlName="depature_time" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-success">Add event</button>
            </div>
          </form>

          <!-- Nav tabs -->
          <!--   <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
              <a href="#custom" aria-controls="custom" role="tab" data-toggle="tab" class="nav-link">Event</a>
            </li>
             <li role="presentation" class="nav-item">
              <a href="#foods" aria-controls="foods" role="tab" data-toggle="tab" class="nav-link">Food</a>
            </li>
            <li role="presentation">
              <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab" class="nav-link">Hotels</a>
            </li>
            <li role="presentation">
              <a href="#packages" aria-controls="packages" role="tab" data-toggle="tab" class="nav-link">Packages</a>
            </li> 
          </ul>
          -->

          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane" id="custom">
              <div class="tab-pane active">
                <form action="" [formGroup]="eventForm" (submit)="onSubmit()">
                  <div class="form-group">
                    <div class="row">


                      <div class="col-md-6">
                        <label for="Name">Event Name</label>
                        <input type="text" formControlName="name" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="Venue">Venue</label>
                        <input type="text" formControlName="venue" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="date_from">Date from</label>
                        <input type="date" formControlName="date_from" [value]="minimum_date" [min]="minimum_date"
                          class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="date_to">Date to</label>
                        <input type="date" formControlName="date_to" [value]="minimum_date" [min]="minimum_date" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="packages">Package</label>
                        <input type="text" formControlName="pkg_id" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="SP">SP</label>
                        <input type="text" formControlName="sp_id" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="description">Description</label>
                        <input type="textarea" formControlName="description" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="Name">price</label>
                        <input type="number" formControlName="price" class="form-control">
                      </div>

                      <div class="col-md-6">
                        <label for="cost">cost</label>
                        <input type="number" formControlName="cost" class="form-control">
                      </div>



                      <div class="col-md-6" *ngIf="formType == 'Hotel'">
                        <label for="check_in_time">Check-in time</label>
                        <input type="text" formControlName="check_in_time" class="form-control">
                      </div>

                      <div class="col-md-6" *ngIf="formType == 'Hotel'">
                        <label for="duration">Duration</label>
                        <input type="text" formControlName="duration" class="form-control">
                      </div>

                      <div *ngIf="formType == 'Travel'">
                        <label for="travel_category">Travel category</label>
                        <input type="text" formControlName="travel_category" class="form-control">
                      </div>
                      <div *ngIf="formType == 'Travel'">
                        <label for="depature_time">Depature time </label>
                        <input type="text" formControlName="depature_time" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-success">Add event</button>
                  </div>
                </form>
              </div>
            </div>


            <!-- <div role="tabpanel" class="tab-pane" id="foods">
              <div class="row">
                <div class="col-xxs-12 col-xs-6 mt">
                  <div class="input-field">
                    <label for="from">From:</label>
                    <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <div class="input-field">
                    <label for="from">To:</label>
                    <input type="text" class="form-control" id="to-place" placeholder="Tokyo, Japan" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-start">Check In:</label>
                    <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-end">Check Out:</label>
                    <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-sm-12 mt">
                  <section>
                    <label for="class">Class:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>Economy</option>
                      <option value="economy">Economy</option>
                      <option value="first">First</option>
                      <option value="business">Business</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Adult:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Children:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xs-12">
                  <input type="submit" class="btn btn-primary btn-block" value="Search Packages">
                </div>
              </div>
            </div>



            <div role="tabpanel" class="tab-pane" id="hotels">
              <div class="row">
                <div class="col-xxs-12 col-xs-12 mt">
                  <div class="input-field">
                    <label for="from">City:</label>
                    <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-start">Return:</label>
                    <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-end">Check Out:</label>
                    <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-sm-12 mt">
                  <section>
                    <label for="class">Rooms:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="economy">1</option>
                      <option value="first">2</option>
                      <option value="business">3</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Adult:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Children:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xs-12">
                  <input type="submit" class="btn btn-primary btn-block" value="Search Hotel">
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="packages">
              <div class="row">
                <div class="col-xxs-12 col-xs-6 mt">
                  <div class="input-field">
                    <label for="from">City:</label>
                    <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <div class="input-field">
                    <label for="from">Destination:</label>
                    <input type="text" class="form-control" id="to-place" placeholder="Tokyo, Japan" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-start">Departs:</label>
                    <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-xxs-12 col-xs-6 mt alternate">
                  <div class="input-field">
                    <label for="date-end">Return:</label>
                    <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy" />
                  </div>
                </div>
                <div class="col-sm-12 mt">
                  <section>
                    <label for="class">Rooms:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="economy">1</option>
                      <option value="first">2</option>
                      <option value="business">3</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Adult:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xxs-12 col-xs-6 mt">
                  <section>
                    <label for="class">Children:</label>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </section>
                </div>
                <div class="col-xs-12">
                  <input type="submit" class="btn btn-primary btn-block" value="Search Packages">
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div>
      <!-- <div class="desc2 animate-box">
        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
          <p>Create new Event</p>
          <h2>vTour Itinerary</h2>
          <h3>Itinerary One</h3>
        </div>
      </div> -->
    </div>
  </div>

  <!-- to here -->


  <!-- </mat-card-content> -->