<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Event Information</mat-card-title>
    <span class="toobar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancle</mat-icon>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>


  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div class="tabulation animate-box">
          <div class="row">
            <div class="col-md-6">
              <label for="cost">Event type</label>
              <select class="form-control" [(ngModel)]="formType" required>
                <option>Hotel</option>
                <option>Custom</option>
                <option>Travel</option>
              </select>
            </div>
          </div>

          <form action="" [formGroup]="eventForm" (submit)="onSubmit()">
              <input type="hidden" formControlName="event_type" class="form-control" [(ngModel)]="formType">
            <div class="form-group">
              <div class="row">



                <div class="col-md-6">
                  <label for="Name">Event Name</label>
                  <input type="text" formControlName="name" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="Venue">Location Name</label>
                  <input type="text" formControlName="venue" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="date_from">Date from</label>
                  <input type="date" formControlName="date_from"  [min]="minimum_date" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="date_to">Date to</label>
                  <input type="date" formControlName="date_to"  [min]="minimum_date" class="form-control">
                </div>

                <div class="col-md-6"  *ngIf="formType != 'Travel' && formType != 'Hotel'">
                  <label for="in_time">Time In</label>
                  <input type="time" formControlName="intime"  class="form-control" >
                </div>

                <div class="col-md-6"  *ngIf="formType != 'Travel' && formType != 'Hotel'" >
                  <label for="in_time">End time</label>
                  <input type="time" formControlName="outtime"  class="form-control" >
                </div>

                

                <div class="col-md-6">
                    <form class="example-form">
                        <label for="packages">SP username</label>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Service Provider" aria-label="Client" [matAutocomplete]="auto"
                          [formControl]="ServiceProviderCtrl" [(ngModel)] = "SPusername" required>
                      </mat-form-field>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let client of filteredServiceProviders | async" [value]="client.username">
                          <span>{{client.fname}} </span>
                          <small>type : {{client.type}} </small>
                        </mat-option>
                      </mat-autocomplete>
                      
                      <button (click)=" getPkgs()" class="btn btn-success">Check</button>
                    </form>
                  </div>
                  <input type="hidden" formControlName="sp_id" class="form-control" [(ngModel)]="Sp_id">
                  <input type="hidden" formControlName="lng" class="form-control" [(ngModel)]="lng"  >
                  <input type="hidden" formControlName="lat" class="form-control" [(ngModel)]="lat" >
                  

                <div class="col-md-6">
                    <label for="packages">Package</label>
                    
                    <!-- <input type="text"  class="form-control"> -->
                    <select class="form-control" formControlName="pkg_id" (ngModelChange)="setCost()" required>
                      <option value="pol" selected="selected">{{SelectedPkg}}</option>
                      <option *ngFor="let a of pkgs" [value]="a._id"> {{a.name}} </option>{{a._id}}
                    </select>
                  </div>

                <div class="col-md-6">
                  <label for="description">Description</label>
                  <input type="textarea" formControlName="description" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="Name">price</label >
                  <input type="number" formControlName="price" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label for="cost">cost</label>
                  <input type="number" formControlName="cost" class="form-control" required>
                </div>



                <div class="col-md-6" *ngIf="formType == 'Hotel'">
                  <label for="check_in_time">Check-in time</label>
                  <input type="text" formControlName="check_in_time" class="form-control">
                </div>

                <div class="col-md-6" *ngIf="formType == 'Hotel'">
                  <label for="duration">Duration</label>
                  <input type="text" formControlName="duration" class="form-control">
                </div>

                <div *ngIf="formType == 'Travel'">
                  <label for="travel_category">Travel category</label>
                  <input type="text" formControlName="travel_category" class="form-control">
                </div>
                <div *ngIf="formType == 'Travel'">
                  <label for="depature_time">Depature time </label>
                  <input type="text" formControlName="depature_time" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-success">Add event</button>
            </div>
          </form>

          <!-- Nav tabs -->
          <!--   <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
              <a href="#custom" aria-controls="custom" role="tab" data-toggle="tab" class="nav-link">Event</a>
            </li>
             <li role="presentation" class="nav-item">
              <a href="#foods" aria-controls="foods" role="tab" data-toggle="tab" class="nav-link">Food</a>
            </li>
            <li role="presentation">
              <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab" class="nav-link">Hotels</a>
            </li>
            <li role="presentation">
              <a href="#packages" aria-controls="packages" role="tab" data-toggle="tab" class="nav-link">Packages</a>
            </li> 
          </ul>
          -->

          <!-- Tab panes -->
          

        </div>
      </div>
      <div class="col-md-6">
       
        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseClick($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

        <button class="btn btn-success" (click)="setLocation()"> Pic Location</button>
      </div> 
      
    </div>
  </div>

  <!-- to here -->


  <!-- </mat-card-content> -->