.wrapper_1{
  background: url(./../../../assets/source/images/photo-1531201890865-fb64780d16e9.jpeg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.padding_row{
  height:20%;
  /*color: #0c5460;*/
}
.emailP{
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: small;
}

.head{
  background-color: white;
  border-bottom: 0;
  padding-bottom: 5px;
}

._email{
  background-color: #EDEDED;
}

.sbtn{
  font-family: "Helvetica Neue";
  font-weight: bold;
  background-color: #24ADAB;
  border: #24ADAB;
  border-radius: 0px;
}

.RESET{
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 80vh;
}

@media only screen and (max-width: 1000px) {
  .padding_row{
    height: 0px;
  }
}

