<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid wrapper_1">
  <div class="row padding_row"></div>
  <div class="row">
    <div class="col-lg col-md-3"></div>
    <div class="col-lg-3 col-md-6">

      <form style="margin-top: 25px;" #pwForm="ngForm" (ngSubmit)="onSubmit(pwForm)">
        <fieldset>
          <div class="form-group">

            <div class="card RESET" style="width: 100%;">
              <img class="card-img-top" src="../../../assets/source/logo.png" alt="Card image cap">
              <div class="card-header head">
                <label class="emailP" for="exampleInputEmail1">ENTER YOUR EMAIL ADDRESS</label>
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item" style="border-bottom: 0;border-top: 0">
                  <input type="email" class="form-control _email" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #emailref="ngModel"
                    [(ngModel)]="email" required>

                  <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                    <div [hidden]="!emailref.errors?.pattern">
                      Invalid Email Address
                    </div>
                  </div>
                </li>
                <li class="list-group-item" style="border-top: 0">
                  <button class="btn btn-primary btn-lg btn-block login-button sbtn" type="submit" [disabled]="!pwForm.valid">CONFIRM
                    MAIL</button>
                </li>

              </ul>
            </div>

          </div>

        </fieldset>
      </form>

    </div>
    <div class="col-lg col-md-3"></div>
  </div>

</div>